/*voor alles in mijn html*/
* {
    font-family: nexa light, sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

/*alle paragrafen*/
p {
    font-family: nexa light, sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
}

/*alle grote headings*/
h1 {
    font-family: nexa bold, sans-serif;
    font-size: 2em;
    color: rgba(0, 214, 108, 0.9);
}

/*de op 2 na grootste headings*/
h2 {
    font-family: nexa bold, sans-serif;
    font-size: 1.5em;
    color: #fff
}

/*h4 voor in forums en footers, h3 is voor als er subparagrafen worden geschreven dat in dit geval niet nodig is*/
h4 {
    font-family: nexa bold, sans-serif;
    font-size: 1.2em;
    color: #000;
}

/*voor alle ankers*/
a {
    text-decoration: none;
}

/*voor de heads, vooral eerste "section"*/
head {
    max-width: 100%;
    display: flex;
    padding-left: 15px;
}

/*geld voor elk element in de navigatie*/
nav {
    max-height: 3em;
    background-color: #fff;
}

/*alle lijsten met anker*/
li a {
    list-style: none;
    padding: 0;
    font-family: nexa bold;
    color: rgb(0, 214, 108);
}

/*nog specifieker aanroepen van de navigatie elementen*/
nav ul li {
    list-style: none;
    padding: 0;
    margin: 15 40 15 15;
    font-weight: 700;
    font-family: nexa bold;
    font-size: 1.1em;
    color: rgb(0, 214, 108);
}

/*class voor de navigatie zodat alles naast elkaar komt te staan*/
.navi {
    display: flex;
}

/*alles binnen de body*/
body {
    background-image: url('images/achtergrond3.jpg');
    background-repeat: no-repeat;
}

/*elke section*/
section {
    padding: 1em;
    align-content: center;
    margin: 0 auto;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    top: 0 auto;
}

/*class meegegeven voor de tekst op de detailpagina*/
.detail {
    padding: 1em;
    align-content: center;
    margin: 0 auto;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    top: 0 auto;
    background-color: #f3E5D8;
}

/*https://stackoverflow.com/questions/2757483/limiting-the-number-of-characters-per-line-with-css*/
.detail p {
    max-width: 70ch;
}

/*specifieke aanroeping voor de h1 om een effect toe te voegen*/
/*//codepen: https://codepen.io/zitrusfrisch/pen/fjbal*/
.detail h1 {
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url('images/achtergrondmobiel.jpg') repeat-x;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 70s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


/*elke article in een section om mee te schalen*/
section article {
    display: flex;
    flex-direction: column;
}

section article a {
    margin-top: auto;
    margin-bottom: 1em;
}

/*maximale breedte meegeven aan de header (de 3 verhalen)*/
header {
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 75em;
    display: block;
    margin-top: 1em;
}

/*ook nth of type proberen te gebruiken maar dat was niet specifiek genoeg dus
uiteindelijk gekozen om de bovenste 3 artikelen een class te geven*/
.wit {
    background-color: rgba(0, 214, 108);
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin: 1em auto auto auto;
}


/*laatste artikel in header*/
.blauw {
    background-color: #2800A0;
    border-radius: 7px;
    max-width: 20em;
    padding: 1em;
    margin: 1em auto 1em auto;
}

.blauw p {
    color: #fff;
}


/*2e artikel in header*/
.groen {
    background-color: #fff;
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1em;
    margin: auto auto auto auto;
}

.groen h2 {
    color: rgba(0, 214, 108, 0.7);
    ;
}

/*button stijl onder elke tekst*/
button {
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-height: 1.5rem;
    color: white;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    font-weight: bold;
    font-family: nexa bold;
    line-height: 1.5em;
    margin: 1em auto auto 5em;
    padding: .4375em 1.5em .5625em;
    cursor: pointer;
    transition: background-color .2s linear;
    text-decoration: none;
    margin: 0 auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

/*achtergrondkleur bij verhalen/home*/
.achtergrond {
    background-color: #f3E5D8;
}

/*hoogte aanpassen voor geluid buttons*/
#myVideo{
    height: 1em;
}

/*elke section krijgt deze class mee in dit geval de verhalen die je kunt lezen*/
.section2 {
    background: #fff;
    border-radius: 7px;
    padding: 1em;
    margin: 1em;
}

.section2 > h2 {
    color: #2800A0;
    font-size: 1.6rem;
    padding-bottom: 0.3em;
}

/*stijling voor de footer*/
footer {
    background-color: #F7F7F7;
}

footer nav ul {
    background-color: #F7F7F7;
    padding-top: 1em;
    padding-left: 1em;
    text-decoration: none;
    display: grid;
    justify-content: center;
}

footer nav ul li {
    margin: 0;
    line-height: 1.3em;
}

footer a {
    text-decoration: none;
    font-family: nexa bold;
    color: #606060;
    font-size: 0.6em;
}

/*stijl voor de inschrijfmail die getriggert wordt als je muis buiten de content gaat*/
.mouse-out .article-container {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s cubic-bezier(.5, 0, 1, .5);
    transition: all 1s cubic-bezier(.5, 0, 1, .5);
}

.article-container {
    -webkit-transition: all 3s .5s cubic-bezier(0, 1, .3, 1);
    transition: all 3s .5s cubic-bezier(0, 1, .3, 1);
}

.modal {
    background-color: rgb(149, 188, 188);
    max-width: 25em;
    padding: 1em;
    margin: 0.7em;
    opacity: 0;
    -webkit-transform: scale(0) rotateX(30deg) translateY(10em);
    transform: scale(0) rotateX(30deg) translateY(10em);
    -webkit-transition: opacity .2s .3s ease-out,
        -webkit-transform .5s cubic-bezier(1, 0, .3, 1);
    transition: opacity .2s .3s ease-out,
        -webkit-transform .5s cubic-bezier(1, 0, .3, 1);
    transition: transform .5s cubic-bezier(1, 0, .3, 1),
        opacity .2s .3s ease-out;
    transition: transform .5s cubic-bezier(1, 0, .3, 1),
        opacity .2s .3s ease-out,
        -webkit-transform .5s cubic-bezier(1, 0, .3, 1);
}

.mouse-out .modal {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: opacity .2s .6s ease-out,
        -webkit-transform 1s .3s cubic-bezier(1, 0, .3, 1.5);
    transition: opacity .2s .6s ease-out,
        -webkit-transform 1s .3s cubic-bezier(1, 0, .3, 1.5);
    transition: transform 1s .3s cubic-bezier(1, 0, .3, 1.5),
        opacity .2s .6s ease-out;
    transition: transform 1s .3s cubic-bezier(1, 0, .3, 1.5),
        opacity .2s .6s ease-out,
        -webkit-transform 1s .3s cubic-bezier(1, 0, .3, 1.5);
}

#subscribe-email {
    padding: 0.3em;
}

.button:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

form .button {
    padding: 0.3em;
    margin-top: 0.2em;
}

.modal {
    background: -webkit-linear-gradient(top, #888881, #177777);
    background: linear-gradient(to bottom, #888881, #177777);
    border-radius: 2em;
    left: calc(50% -);
    position: fixed;
    top: calc(50% - 200px);

}

.modal h2 {
    color: #333;
    margin-top: 1em;
    text-align: center;
}

.modal p {
    color: #333;
    margin: 1em;
}

/*responsive maken bij minimale breedte van 35em*/
@media (min-width: 35em) {
    body {
        background-image: url('images/achtergrondmobiel.jpg');

    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 1rem;
    }

    .section2 {
        display: flex;
        margin: 1em 1em 0auto 1em;
        grid-template-rows: 1fr 1fr 1fr;
        flex-direction: column;
        margin: 0;
    }

    .section2 > h2 {
        grid-row: 1/2;
    }

    .section2 > p {
        grid-row: 2/3;
    }

    .section2 > button {
        grid-row-end: 3/4;
    }

}



/*responsive maken bij minimale breedte van 55em*/
@media (min-width: 55em) {


    body {
        background-image: url('images/header-week39-logo%20(2).jpg');
background-repeat: no-repeat;
    }

    header {
        align-content: center;
        display: flex;
        margin: 0 auto;
    }


    .wit {
        background-color: rgba(0, 214, 108, 0.7);
        border-radius: 7px;
        max-width: 20em;
        font-size: 1em;
        padding: 1em;
        margin: 1em auto auto auto;
        height: 19em;
    }



    .blauw {
        background-color: #2800A0;
        border-radius: 7px;
        max-width: 20em;
        padding: 1em;
        margin: 1em auto 1em auto;
        height: 19em;
    }

    .blauw p {
        color: #fff;
    }

    .blauw {
        display: inline-grid;
        grid-column: 2/3;
    }

    .groen {
        background-color: #fff;
        border-radius: 7px;
        max-width: 20em;
        font-size: 1em;
        padding: 1em;
        margin-bottom: 1em;
        margin: auto auto auto auto;
        height: 19em;
    }

    .groen h2 {
        color: rgba(0, 214, 108, 0.7);
    }

    /*apparte scheiding van naastelkaar zetten, voor mezelf duidelijker*/
    .groen {
        display: inline-grid;
        grid-column: 3/3;

    }

    /*apparte scheiding van naastelkaar zetten, voor mezelf duidelijker*/
    .wit {
        display: inline-grid;
        grid-column: 1/3;

    }

    section {
        align-content: center;
        margin: 0 auto;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 1rem;
        padding: 1rem;
    }

    .section2 {
        grid-auto-rows: 1;
        display: flex;
        margin: 0;
        flex-direction: column;
        max-width: 30em;
        justify-self: bottom;
    }

    /*over een grotere breedte is het beter als de inschrijfaanvraag
    ergens anders staat om beter op te vallen*/
    .modal {
        background: -webkit-linear-gradient(top, #888881, #177777);
        background: linear-gradient(to bottom, #888881, #177777);
        border-radius: 2em;
        left: calc(54% - -123px);
        position: fixed;
        top: calc(50% - 200px);
    }
}


}
