* {
    font-family: nexa light, sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

p {
    font-family: nexa light, sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
}

h1 {
    font-family: nexa bold, sans-serif;
    font-size: 2em;
    color: rgba(0, 214, 108, 0.9);
}

h2 {
    font-family: nexa bold, sans-serif;
    font-size: 1.5em;
    color: #fff
}

h4 {
    font-family: nexa bold, sans-serif;
    font-size: 0.8em;
    color: #000;
}

a {
    text-decoration: none;
}

head {
    max-width: 100%;
    display: flex;
    padding-left: 15px;
}

nav{
    max-height: 3em;
    background-color: #fff;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 15 40 15 15;
    font-weight: 700;
    font-family: nexa bold;
    font-size: 1.1em;
    color: rgb(0, 214, 108);
}

.verhalen {
    display: flex;
}

body {
    background-image: url('images/IMG_20190805_080218.jpg');
    background-repeat: no-repeat;
}

main {

}

section {
    padding-top: 1em;
}

header {
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 75em;
    display: block;
}

/*prijs*/
article:first-of-type {
    background-color: rgba(0, 214, 108, 0.7);
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin: 1em auto auto auto;
}

/*voorkeur*/
article:nth-of-type(2) {
    background-color: #2800A0;
    border-radius: 7px;
    max-width: 20em;
    padding: 1em;
    margin: 1em auto 1em auto;
}
/*midden*/
article:nth-of-type(3) {
    background-color: #fff;
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1em;
    margin: auto auto auto auto;
}

.voorkeur {
        color: #2800A0;
}

.midden {
    color: #fff;
}

/*
.prijs {
    background-color: rgba(0, 214, 108, 0.7);
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin: 1em auto auto auto;
}



.voorkeur {
    background-color: #2800A0;
    border-radius: 7px;
    max-width: 20em;
    padding: 1em;
    margin: 1em auto auto auto;
}



.midden {
    background-color: #fff;
    border-radius: 7px;
    max-width: 20em;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1em;
    margin: auto auto auto auto;
}
*/

button {
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-height: 1.5rem;
    color: white;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    font-weight: bold;
    font-family: nexa bold;
    line-height: 1.5em;
    margin: 1em auto auto 5em;
    padding: .4375em 1.5em .5625em;
    cursor: pointer;
    transition: background-color .2s linear;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
}

.beige {
    background-color: #f3E5D8;
}

.section2 {
    background: #fff;
    border-radius: 7px;
    padding: 1em;
    max-width: 30em;
    margin: 1em;

}

.section2 > h2 {
    color: #2800A0;
    font-size: 1.6rem;
    padding-bottom: 0.3em;
}

footer {
    background-color: #F7F7F7;
    padding-top: 1em;
    margin: 0 auto;
}
footer nav ul{
    background-color: #F7F7F7;
    padding-top: 1em;
    padding-left: 1em;
    text-decoration: none;
    display: block;
}

footer nav ul li{
    margin: 0;
    line-height: 1em;
    display: block;
}

footer a {
    text-decoration: none;
    font-family: nexa bold;
    color: #606060;
    font-size: 0.6em;
}

@media (min-width: 35em) {
    body {
    background-image: url('images/header-week39-logo%20(1).jpg');
}
        section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding-top: 1em;
    }

    .section2 {
        display: flex;
        margin: 1em 1em 0auto 1em;
    }

}



@media (min-width: 55em) {


    body {
        background-image: url('images/header-week39-logo%20(2).jpg');
background-repeat: no-repeat;
    }

    header {
        align-content: center;
        display: flex;
        margin: 0 auto;
    }

    /*prijs*/
    header > article:first-of-type {
        display: inline-grid;
        grid-column: 1/3;
        height: 15em;
    }

    /*voorkeur*/
    article:nth-of-type(2) {
        display: inline-grid;
        grid-column: 2/3;
        height: 15em;
    }

    /*midden*/
    article:nth-of-type(3) {
        display: inline-grid;
        grid-column: 3/3;
        height: 15em;
    }

    section {
        align-content: center;
        margin: 0 auto;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 1rem;
        padding: 1rem;
    }

    .section2 {
        grid-auto-rows: 1;
        display: flex;
        margin: 0auto 1em 1em 1em;
        flex-direction: column;
}
    }


}
